---
trigger: always_on
---

# 検証を意識したコーディング
- Antigravityが`flutter run`を実行したとき、アプリの挙動がわかるようログを出力するようにして。

# 変更後の検証方法
- 必ず`flatter test`を実行し、すべてパスすることを確認して。
- 必ず`flatter run`を実行し、動作が正常であることを確認して。